In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests

#import api key
from config import g_key

In [2]:
# Store csv into dataframe
city_data_df = pd.read_csv('weather-data/cities.csv')
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Alofi,NU,2021-04-01 14:30:50,-19.0595,-169.9187,77.00,94,5,4.61
1,1,Chuy,UY,2021-04-01 14:30:50,-33.6971,-53.4616,71.02,54,48,8.72
2,2,Bluff,NZ,2021-04-01 14:30:51,-46.6000,168.3333,61.29,73,100,31.07
3,3,Ponta Do Sol,PT,2021-04-01 14:30:51,32.6667,-17.1000,68.00,73,40,6.91
4,4,Ancud,CL,2021-04-01 14:30:52,-41.8697,-73.8203,57.00,100,90,3.44
5,5,Galveston,US,2021-04-01 14:30:52,29.3669,-94.9669,60.01,41,1,18.41
6,6,Albany,US,2021-04-01 14:29:08,42.6001,-73.9662,36.00,71,100,1.01
7,7,Severo-Kurilsk,RU,2021-04-01 14:30:53,50.6789,156.1250,32.04,93,98,28.05
8,8,Inhambane,MZ,2021-04-01 14:30:54,-23.8650,35.3833,84.20,51,20,9.22
9,9,Vite,IN,2021-04-01 14:30:54,17.2833,74.5500,82.09,43,8,16.44

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#configure gmaps to use google api key
gmaps.configure(api_key=g_key)

In [5]:
# Get max temp
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# 1. Assign the locations to an array of lat and long pairs
locations = city_data_df[['Lat' , 'Lng']]

# 2. Assign the weights variable to some values
max_temp = city_data_df['Max Temp']

# 3. Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0 , 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heat_layer = gmaps.heatmap_layer(locations , weights=[max(temp, 0) for temp in max_temp] , dissipating=False, max_intensity=300, point_radius=4)

# 5. add the heatmap layer
fig.add_layer(heat_layer)

# 6. call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[['Lat' , 'Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations , weights=humidity, dissipating=False, max_intensity = 300 , point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[['Lat' , 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations , weights=clouds, dissipating=False, max_intensity = 300 , point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent wind speed
locations = city_data_df[['Lat' , 'Lng']]
winds = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations , weights=winds, dissipating=False, max_intensity = 300 , point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temp value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [18]:
# Filter dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Alofi,NU,2021-04-01 14:30:50,-19.0595,-169.9187,77.00,94,5,4.61
8,8,Inhambane,MZ,2021-04-01 14:30:54,-23.8650,35.3833,84.20,51,20,9.22
9,9,Vite,IN,2021-04-01 14:30:54,17.2833,74.5500,82.09,43,8,16.44
13,13,Butaritari,KI,2021-04-01 14:30:57,3.0707,172.7902,81.97,79,58,16.04
15,15,Walvis Bay,NaN,2021-04-01 14:30:58,-22.9575,14.5053,87.80,37,0,13.80
17,17,San Policarpo,PH,2021-04-01 14:30:59,12.1791,125.5072,81.37,70,61,10.85
20,20,Mitsamiouli,KM,2021-04-01 14:31:02,-11.3847,43.2844,87.80,70,20,11.50
23,23,Vila Velha,BR,2021-04-01 14:31:04,-20.3297,-40.2925,80.60,61,0,11.50
24,24,Arraial Do Cabo,BR,2021-04-01 14:31:04,-22.9661,-42.0278,84.20,54,0,21.85
26,26,Georgetown,MY,2021-04-01 14:27:18,5.4112,100.3354,86.00,79,20,1.14

In [21]:
hotel_df = preferred_cities_df[['City' , 'Country' , 'Max Temp' , 'Lat' , 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0             Alofi      NU     77.00 -19.0595 -169.9187
8         Inhambane      MZ     84.20 -23.8650   35.3833
9              Vite      IN     82.09  17.2833   74.5500
13       Butaritari      KI     81.97   3.0707  172.7902
15       Walvis Bay     NaN     87.80 -22.9575   14.5053
17    San Policarpo      PH     81.37  12.1791  125.5072
20      Mitsamiouli      KM     87.80 -11.3847   43.2844
23       Vila Velha      BR     80.60 -20.3297  -40.2925
24  Arraial Do Cabo      BR     84.20 -22.9661  -42.0278
26       Georgetown      MY     86.00   5.4112  100.3354

In [22]:
#set parameters to search for a hotel
params = {
    'radius':5000,
    'type':'lodging',
    'key':g_key
}

# Iterate through the DataFrame
for index , row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    #Add the lat and long to location key for the params dictionary
    params['location'] = f'{lat},{lng}'
    
    # Use the search term 'lodging' and our lat and long
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    #make request and get the json data from the search
    hotels = requests.get(base_url , params = params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found ... skipping.')

Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.

NameError: name 'hotels_df' is not defined

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Alofi,NU,77.00,-19.0595,-169.9187,Taloa Heights
8,Inhambane,MZ,84.20,-23.8650,35.3833,Oceano
9,Vite,IN,82.09,17.2833,74.5500,Government Hostel
13,Butaritari,KI,81.97,3.0707,172.7902,Isles Sunset Lodge
15,Walvis Bay,NaN,87.80,-22.9575,14.5053,Oyster Box Guesthouse
17,San Policarpo,PH,81.37,12.1791,125.5072,JM Lodge
20,Mitsamiouli,KM,87.80,-11.3847,43.2844,Foyer ADM
23,Vila Velha,BR,80.60,-20.3297,-40.2925,Quality Suites Vila Velha
24,Arraial Do Cabo,BR,84.20,-22.9661,-42.0278,Pousada Porto Praia
26,Georgetown,MY,86.00,5.4112,100.3354,Cititel Penang

In [26]:
# Add a heatmap of temp for the vacation spots
locations = hotel_df[['Lat' , 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp , dissipating=False, max_intensity = 300 , point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>
"""
# Store the DF row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temp for the vacation spots
locations = hotel_df[['Lat' , 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp , dissipating=False, max_intensity = 300 , point_radius=4)
marker_layer = gmaps.marker_layer(locations , info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))